/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination li {
    list-style: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination li.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  /* main grid*/
  .job-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  
  .job-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .job-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .job-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .job-image:hover img {
    transform: scale(1.1);
  }
  
  .job-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 1rem;
  }
  
  .job-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .job-salary {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .job-apply {
    margin-top: auto;
  }
  
  .not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #555;
    text-shadow: 1px 1px 0px #fff;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
  }

  /*search button*/
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .search-input {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 110, 255, 0.525);
    border: 2.5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .search-input::placeholder {
    color: #999999;
  }
  
  .search-input:focus {
    border-color: #1e90ff;
    box-shadow: 0px 2px 4px rgba(30, 144, 255, 0.3);
  }
  