/* navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4285f4;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* logo */
  .logo img {
  height: 2.5rem;
  padding-left: 0.5rem;
  }
  
  /* online job portal text */
  .navbar h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  }
  
  /* menu items */
  .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .menu li {
  margin-right: 1rem;
  }
  
  .menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  }
  
  .menu a:hover {
  color: #4285f4;
  background-color: #fff;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
  .navbar {
  flex-direction: column;
  padding: 1rem 0.5rem;
  }
  
  .menu ul {
  flex-direction: column;
  }
  
  .menu li {
  margin: 0 0 0.5rem 0;
  }
  }